numpy
torchvision
https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
fastai
starlette
uvicorn==0.3.32
python-multipart
aiofiles
aiohttp
pandas 
matplotlib
keras
opencv-contrib-python
pathlib	
imageio	
scikit-image
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.11.0rc1-cp27-none-linux_x86_64.whl
theano
